@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v5/RFda8w1V0eDZheqfcyQ4EInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 1500;
    src: local('Helvetica Neue'), local('HelveticaNeue'), url(http://themes.googleusercontent.com/licensed/font?kit=Lx1xfUTR4qFjwg0Z_pb900DGSpWewu0sZH-jqLz8Q00) format('truetype');
}

.header{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 37.5%;
    top: 0%;
    
    color: #FFFFFF;
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 101px;
}

.login{
    position: absolute;
    width: 10%;
    height: 50%;
    left: 85%;
    top: 5%;
}

.row{
    display: flex;
}

.row div{
    margin: 15%;
}

.column{
    position: absolute;
    width: 20%;
    height: 10%;
    top: 12.5%;
}

#col1{
    left: 0%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
}

#col2{
    left: 32.5%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
}

#col3{
    left: 61%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
}

.draw{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 75%;
}

#text{
    position: absolute;
    width: 40%;
    height: 10%;
    top: 90%;
    
    color: whitesmoke;
    left: 57.5%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
    font-size: 300%;
}

.butt{
    position: absolute;
    width: 10%;
    height: 50%;
    left: 65%;
    top: 110%;
}

#text2{
    position: absolute;
    width: 40%;
    height: 10%;
    top: 180%;
    
    color: whitesmoke;
    left: 40%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
    font-size: 300%;
}

.f1{
    position: absolute;
    width: 0%;
    height: 10%;
    left: 5%;
    top: 200%;
    size: 25%;
}

.ftext1{
    position: absolute;
    width: 50%;
    height: 10%;
    
    color: whitesmoke;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 250%;
}

#collab{
    top: 201%;
    left: 50%;
    text-align: left;
    font-weight: bolder;
    text-shadow: 0 0 10px #FFFFFF;
}

#fpara1{
    top: 215%;
    left: 50%;
    text-align: left;
    font-weight: normal;
}

.f2{
    position: absolute;
    width: 0%;
    height: 10%;
    left: 57.5%;
    top: 265%;
    size: 25%;
}

.ftext2{
    position: absolute;
    width: 47.5%;
    height: 10%;
    
    color: whitesmoke;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 250%;
}

#env{
    top: 265%;
    left: 5%;
    text-align: left;
    font-weight: bolder;
    text-shadow: 0 0 10px #FFFFFF;
}

#fpara2{
    top: 275%;
    left: 5%;
    text-align: left;
    font-weight: normal;
}

.f3{
    position: absolute;
    width: 0%;
    height: 10%;
    left: 2.5%;
    top: 330%;
    size: 25%;
}

.ftext3{
    position: absolute;
    width: 47.5%;
    height: 10%;
    
    color: whitesmoke;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 250%;
}

#langs{
    top: 340%;
    left: 50%;
    text-align: left;
    font-weight: bolder;
    text-shadow: 0 0 10px #FFFFFF;
}

#fpara3{
    top: 350%;
    left: 50%;
    text-align: left;
    font-weight: normal;
}