<div class = 'container mt-1'>
  
    <div class="row justify-content-center">
        {{#if user}}
        {{else}}
     
        {{/if}}
        <a href="/createTask" class='m-1 '> <button class=" p-2 main-text gets m-auto btn btn-primary
                     "> Create a Collab </button>
        </a>
    </div>
    
    